<div class="form-group">
  <div class="row">
    <div [class]="gridClass">
      <label for="{{inputName}}">
        <span class="required-symbol" *ngIf="required">*</span> {{label}}
        <span class="sr-only" *ngIf="srOnly">{{srOnly}}</span>
        <div aria-live="polite" role="alert">
          <div class="text-danger" *ngIf="!valid && submitted"
               [attr.aria-hidden]="valid || !submitted">
            <span class="fa fa-exclamation-triangle" aria-hidden="true"></span> {{alert}}
          </div>
        </div>
      </label>
      <input #input [type]="type" id="{{inputName}}" class="form-control" name="{{inputName}}"
            aria-describedby="mandatory-text"
            [attr.aria-invalid]="!valid && submitted"
            [(ngModel)]="datalistModel"
            #inputElt="ngModel"
            [maxlength]="maxlength"
            [required]="required"
            (ngModelChange)="onChangeInput($event)"
            [ngClass]="{'error': !valid && submitted}"
            list="datalist">
      <datalist id="datalist">
        <option *ngFor="let option of datalistOptions" value="{{option.label}}">
      </datalist>
    </div>
  </div>
  <div class="row" *ngIf="!matchingValue && datalistModel !== '' && this.model === '' && hasInputFocus()">
    <div [class]="gridClass">
      <span class="no-result">
        {{noResult}}
      </span>
    </div>
  </div>
  <div class="text-commentary">{{help}}</div>
</div>
